
<!--este NavBar se muestra cuando no esta logueado el usuario, asi solo podra ver la pagina aquel que ese logueado  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="LogedIn == true; else nologed">
  <div class="col-1">
      <img src="assets/ward.png" alt="" width="100px" height="50px">
  </div>
  &nbsp;
  &nbsp;
  <a class="navbar-brand" [routerLink]="['/home']">PizzaMía</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['./home']" >Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./pedidos',idUsuario]">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./reportes']">Reportes</a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./inventario']">Inventario</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./clientes']">Clientes</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./usuarios']">Usuarios</a>
      </li>  

    </ul>
    <div style="align-items: center" class="offset-lg-6">
      <button type="button" class="btn btn-primary"  (click)="cerrarSesion()">
      Cerrar sesión
    </button>
    </div>
    
  </div>
</nav>
<!--este NavBar solo se mostrara una vez que el usuario haya iniciado sesion -->
<ng-template #nologed>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="col-1">
        <img src="assets/ward.png" alt="" width="100px" height="50px">
    </div>
    &nbsp;
    &nbsp;
    <a class="navbar-brand" [routerLink]="['/home']">PizzaMía</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/pedidos',usuario.idUsuario]">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/reportes']">Reportes</a>
        </li>     
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/inventario']">Inventario</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['/clientes']">Clientes</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link disabled" [routerLink]="['./usuarios']">Usuarios</a>
        </li> 
      </ul>
      <div style="align-items: center" class="offset-lg-6">
        <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal">
        Iniciar sesión
      </button>
      </div>
      
    </div>
  </nav>
</ng-template>

<!-- Modal iniciar sesion-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail11" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="usuario.email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword21">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword11" placeholder="Password" name="password" [(ngModel)]="usuario.password">
          </div>
          <div class="form-check">
            <!--input type="checkbox" class="form-check-input" id="exampleCheck1">
            <--label class="form-check-label" for="exampleCheck1" >Check me out</label-->
          </div>
          <button id="ini" (click)="SeleccionarUsuario(usuario.email,usuario.password)"class="btn btn-primary">LogIn</button>
          <a  data-toggle="modal" data-target="#exampleModal2">¿No tienes usuario? Regístrate ahora dando click aquí</a>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- Modal registro -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail21" aria-describedby="emailHelp" placeholder="Nombre" name="nombre" [(ngModel)]="usuarioRegister.nombre">
              </div>
              
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail31" aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="usuarioRegister.email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword31" placeholder="Password" name="password" [(ngModel)]="usuarioRegister.password">
          </div>
          <label>Perfil</label>
              <select name="perfil" id="" class="form-control" [(ngModel)]="usuarioRegister.perfil">
                  <option value="0" selected>Seleccione ↡</option>
                  <option value="3">Empleado</option>
                  <option value="2" >Cliente</option>
                  <option value="1">Administrador</option>
              </select>
              <br>
          
          <button id="inis" (click)="AltaUsuario()"class="btn btn-primary">Registrarse</button>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="botoncerrar2" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>


  


